@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:400,500,600,700&display=swap');

$oswald: 'Oswald', sans-serif;
$opensans: 'Open Sans', sans-serif;
$amaranth: #FF4C5E;

.App {
  display: grid;
  grid-template-rows: 70px auto;

  #navbar {
    position: relative;
    background-color: white;
    height: 70px;
    box-shadow: 0 5px 15px #a1a1a1;
    z-index: 1;
    position: sticky;
    top: 0;


    #logo {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;

      transform: scale(0.5);
    }


    .icons {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;

      img {
        transform: scale(0.8);
      }
    }
  }


  .main-container {
    position: relative;
    overflow: hidden;

    .profile {
      display: grid;
      grid-template-rows: 90vh auto;
      background: linear-gradient(135deg, white, #ededed);

      .row-1 {
        display: grid;
        grid-template-columns: auto 300px;

        .color-gallery {
          border-left: 5px solid white;
          background-color: #d4d4d4;
          overflow: scroll;
        }

        #main-img {
          display: block;
          border: 50px solid white;
          height: 500px;
          margin: 30px auto;
        }

        .color-selection {
          display: block;
          border: 20px solid white;
          width: 140px;
          margin: 30px auto;
        }

        .color-thumbnail:hover {
          opacity: 0.5;
        }

      }


      .row-2 {
        margin: 25px 100px;

        h5 {
          font-family: $oswald;
          font-size: 30px;
          margin: 0;
          color: #919191;
        }

        h3 {
          font-family: $opensans;
          font-size: 42px;
          // line-height: 0;
          margin: 0;
        }

        label {
          font-family: $opensans;
          font-size: 30px;
        }

        p {
          font-family: $oswald;
          font-size: 24px;
          color: $amaranth;
          line-height: 0;
        }

        span {
          color: black;
          text-decoration: line-through;
          margin-left: 15px;
        }

        .size-selection {
          font-family: $opensans;
          font-size: 25px;
          font-weight: 700;
          margin: 0 20px 0 0;
          // padding: 5px;
        }

        #add-btn {
          font-family: $opensans;
          font-size: 16px;
          font-weight: 700;
          margin: 0 20px 0 0;
          color: white;
          background-color: $amaranth;
          border: 0;
          border-radius: 5px;
          margin: 10px 0;
          width: 250px;
          height: 30px;
        }
      }
    }


    .open {
      display: inline-block;
      transition: .5s ease-in-out;
      transform: translateX(0%);
    }

    .close {
      display: inline-block;
      // position: absolute;
      transition: .5s ease-in-out;
      transform: translateX(100%);
    }

    .shopping-cart {
      position: absolute;
      width: 350px;
      height: 90vh;
      top: 0;
      right: 0;
      overflow: scroll;
      background-color: white;

      #close-button {
        // position: absolute;
        position: sticky;
        float: right;
        top: 0;
        right: 0;
        margin: 15px;
        line-height: 1;
        font-family: $oswald;
        font-size: 20px;
        font-weight: 700;
      }

      #cart-header {
        position: sticky;
        font-family: $oswald;
        font-size: 28px;
        font-weight: 700;
        margin: 50px 25px;
        position: sticky;
        top: 0;
      }

      .cart-items {
        // overflow: scroll;
      }

      .price {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // justify-content: space-between;
        width: 320px;
        margin: 10px auto;

        .subtotal, .pro-savings {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          font-family: $opensans;
          // margin: 10px 0;
        }

        .subtotal p {
          font-weight: 700;
          margin: 2px 0;
        }

        .pro-savings p {
          font-weight: 400;
          margin: 2px 0;
          color: $amaranth;
        }

        // p {
        //   font-family: $opensans;
        //   margin: 10px 0;
        // }
        //
        // p {
        //   text-align: right;
        // }
      }


      .cart-item {
        margin: auto;

        display: grid;
        grid-template-columns: 80px 160px 80px;
        width: 320px;

        img {
          border: 10px solid white;
          height: 80px;
        }

        .update-quantity {
          border: 1px solid lightgray;
          border-radius: 5px;
          height: 30px;
          width: 60px;

          span {
            font-size: 16px;
          }
        }
      }


      .cart-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        position: sticky;
        bottom: 0;

        button {
          font-family: $opensans;
          font-size: 15px;
          font-weight: 600;
          color: white;
          background-color: $amaranth;
          border: 0;
          border-radius: 3px;
          margin: 10px 0;
          width: 320px;
          height: 40px;
        }

        #continue {
          color: #7A797A;
          background-color: #F8F8F8;
        }
      }
    }


    .results {
      display: grid;
      grid-template-rows: 80px auto;

      h2 {
        font-family: $oswald;
        font-size: 50px;
        margin: 0;
      }

      .thumbsList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 

        .thumb {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 20px;

          label {
            font-family: $oswald;
            font-size: 18px;
          }

          p {
            font-family: $opensans;
            font-size: 14px;
            margin-top: 3px;
          }

          div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-family: $opensans;

            .pro-price {
              margin: 0 1vw;
              color: red;
            }

            .retail-price {
              margin: 0 1vw;
              text-decoration: line-through;
            }
          }

        }
      }
    }

  }
}
