@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:400,500,600,700&display=swap');

$oswald: 'Oswald', sans-serif;
$opensans: 'Open Sans', sans-serif;

.App {
  display: grid;
  grid-template-rows: 50px auto;

  .navbar {
    background-color: gray;

    h2 {
      font-family: $opensans;
      font-size: 18px;
      margin: 0;
    }
  }

  .main-container {
    display: grid;
    grid-template-rows: 80px auto;

    h2 {
      font-family: $oswald;
      font-size: 50px;
      margin: 0;
    }

    .thumbsList {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .thumb {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;

        label {
          font-family: $oswald;
          font-size: 18px;
        }

        p {
          font-family: $opensans;
          font-size: 14px;
          margin-top: 3px;
        }

        div {
          display: grid;
          grid-template-columns: 1fr 1fr;
          font-family: $opensans;

          .pro-price {
            margin: 0 1vw;
            color: red;
          }

          .retail-price {
            margin: 0 1vw;
            text-decoration: line-through;
          }
        }

      }
    }
  }
}
